/* MAIN main__mission*/
.main__mission{
    padding: 200px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.mission__text{
    position: relative;
}
.text-mission__title{
    max-width: 407px;
}
.text-mission__sub-title{
    max-width: 315px;    
}
.text-mission__blur{
    position: absolute;
    min-width: 85px;
    min-height: 85px;
    left: 56%;
    top: 0;
    background: #F101BF;
    opacity: 0.7;
    filter: blur(46px);
    z-index: -1;    
}
.mission__img-wrapper{
    margin-right: 30%;
}
.mission__img{
    position: relative;
    transform: rotate(90deg) scale(1.2) translate(-36%,12%);
}
.phone_mission{
    max-width: 100%;
}
.display_mission {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(1.85) translate(0%, 7%);
    z-index: -1;
    max-width: 100%;
} 


/*main__mission mobile*/
@media screen and (max-width: 800px){
    .main__mission{
        flex-direction: column-reverse;
        align-items: center;
    }
    .mission__img-wrapper{
        margin: 20% 0;
        display: flex;
    }
    .mission__img{
        position: relative;
        transform: rotate(0deg) scale(1) translate(0%,0%);
    }
    .display_mission {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
        max-width: 100%;
    } 
}

@media screen and (max-width: 630px){
    .mission__img-wrapper{
        margin: 20% 0;
        display: flex;
    }
    .mission__img{
        position: relative;
        transform: rotate(0deg) scale(1) translate(0%,0%);

        max-width: 100%;
        min-width: 0;
        z-index: 2;
    }
    .mission_wrapper{
        width: 40%;
    }
}


/*Анимируем переход*/
@media screen and (min-width: 800px){
    .text-animation{
        transform: translateX(260px);
        opacity: 0;
        transition: all 4s linear;
    }
    .phone-animation{
        z-index: 2;
        transform: rotate(0deg) scale(1) translate(360px, -112px);
        transition: transform 2s linear;
    } 
}

