/* MAIN main__download*/
.main__download {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.download__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 200%;

    display: flex;
    align-items: flex-end;
}

.download-buttons__app-store{
    padding-right: 20px;
}
.download-buttons__google-play:hover,
.download-buttons__app-store:hover{
    cursor: pointer;
}
/*main__download mobile*/
@media screen and (max-width: 1040px){
    .main__download{
        flex-direction: column;
        align-items: center;
    }
    .download__text{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 920px){
    .download__text{
        font-size: 30px;
    }
}    
@media screen and (max-width: 600px){
    .download__text{
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 40px;
    }
    .main__download{
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 487px){  
    .download-buttons__app-store {
        padding-right: 0px;
        padding-bottom: 12px;
    }
    .download__download-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
    .google-play__img, 
    .app-store__img {
        width: 185px;
    }    
}