/*----БАЗОВЫЕ НАСТРОКИ----*/
li {
    list-style-type: none;
}
ul{
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
body {
    margin: 0;
    background: #000000;
    color: #FFFFFF;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: cornsilk;
}
.wrapper-hidden{
    overflow: hidden;
}

/*----ТЕХНИЧЕСКИЕ КЛАССЫ----*/
._container {
    max-width: 80%;
    box-sizing: content-box;
    margin: 0 auto;
}
._title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;

    display: flex;
    align-items: flex-end;
}
._sub-title{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
}
._input{
    padding: 18px 16px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border: 1px solid #5C5C5C;
    border-radius: 10px;
}

._empty-input{
    border: 2px solid red;
}
._download__botton:hover{
    transform: scale(1.1);
}
._img-background{
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}


/*mobile*/
@media screen and (max-width: 376px){
    ._container{
        max-width: 90%; 
    }
    .header__container{
        margin-top: 10%;
    }
}
@media screen and (max-width: 600px){
    ._title{
        font-size: 24px;
        line-height: 29px;
    }
    ._sub-title{
        font-size: 16px;
        line-height: 22px;
    }
}

